* {
    padding: 0;
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
}
.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
body {
    background: #212121;
}
header {
    height: 130px;
    width: 100%;
    position: fixed;
    background-color: transparent;
    z-index: 9999999999;
    transition: ease-in-out 0.32s;
}
header .header-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
header .header-wrapper .menu {
    display: flex;
    flex-direction: row;
}
header .header-wrapper .menu ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 30px;
}
header .header-wrapper .menu ul li a {
    font-size: 16px;
    line-height: 26px;
    color: #212121;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    padding-bottom: 0px;
}
header .header-wrapper .menu ul li a::after {
    height: 2px;
    content: '';
    width: 0px;
    left: 50%;
    position: absolute;
    bottom: -5px;
    background-color: #212121;
    transition: ease-in-out 0.32s;
}
header .header-wrapper .menu ul li a:hover::after {
    height: 2px;
    content: '';
    width: 100%;
    left: 0%;
    background-color: #212121;
    transition: ease-in-out 0.32s;
}
.banner {
    background-color: #c7cc00;
    height: 100vh;
    width: 100%;
}
#header.fixed {
    background-color: #c7cc00;
    transition: ease-in-out 0.32s;
}
section.delivery .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
section.delivery {
    padding: 100px 0 0 0;
}
section.delivery .container {
    border-bottom: 2px solid #ffff00;
    padding-bottom: 100px;
}
section.delivery .content h2 {
    font-size: 35px;
    line-height: 45px;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 30px;
}
section.delivery .content p {
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
}
section.cardapio {
    padding: 100px 0;
}
section.cardapio .cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
section.cardapio .title-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}
section.cardapio .title-wrapper h2 {
    font-size: 35px;
    line-height: 45px;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 30px;
}
section.cardapio .lista {
    display: flex;
    flex-direction: column;
    width: 100%;
}
section.cardapio .lista .item{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 300px;
}
section.cardapio .lista .esquerda {
    display: flex;
    flex-direction: row;
    width: calc(50% - 15px);
    border-top-right-radius: 300%;
    background-color: #484848;
}
section.cardapio .lista .direita {
    display: flex;
    flex-direction: row;
    width: calc(50% - 15px);
} 